@font-face {                                                                                                    
    font-family: 'Happiness-Sans';                                                                             
    font-weight: 400;                                                                                          
    font-style: normal;                                                                                        
    font-display: swap;                                                                                            
    src: url('./Happiness-Sans-Regular.woff2') format('woff2');                                                
  }

  @font-face {
    font-family: 'Happiness-Sans';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./Happiness-Sans-Bold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Happiness-Sans';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url('./Happiness-Sans-Title.woff2') format('woff2');
  }
